{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Modification d'une tâche{% endblock %}</h1>

<form method="post">


    <!-- Markup example 1: input is inside label -->
  <label for="task">
    Description
    <input type="text" id="task" name="task" value="{{ todo.task }}" required>
  </label>

  <label for="complete">
    <input type="checkbox" id="complete" name="complete" role="switch" {% if todo.complete %}checked{% endif %}>
    Tâche finie
  </label>

  <label for="due">Date souhaitée de fin
    <input type="date" id="due" name="due" {% if todo.due %}value="{{ todo.due.strftime('%Y-%m-%d') }}"{% endif %}>
  </label>

  <!-- Button -->
  <button type="submit">Modifier</button>
  <a href="{{ url_for('crud.index') }}" role="button" class="secondary">Annuler</a>

</form>
{% endblock %}

